.DS_Store
Thumbs.db
*.log

.env
.env.*
!.env.example

ahmed-api/vendor/
ahmed-api/node_modules/
ahmed-api/storage/*.key
ahmed-api/storage/framework/cache/*
ahmed-api/storage/framework/sessions/*
ahmed-api/storage/framework/views/*
ahmed-api/bootstrap/cache/*.php
ahmed-api/public/storage

ahmed-web/node_modules/
ahmed-web/dist/

ahmed-mobile/node_modules/
ahmed-mobile/.expo/
ahmed-mobile/dist/
ahmed-mobile/web-build/
ahmed-mobile/android/
ahmed-mobile/ios/

*.apk
*.aab
*.ipa
